

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$backgroundmovie : rgba(3, 12, 31, 0.82);
$background : rgba(3,12 , 31);
$blue : rgba(6,23 , 72);


.modal-background{width: 100%; z-index: 200;  height: 85%; background: rgba(0, 0, 0, 0.169); backdrop-filter: blur(1px); position: absolute;bottom: 0; display: flex; align-items: center; justify-content: center;
          .flex-container{display: flex;}
	.movie-details{ margin-top: 1em; display: flex;   padding: 0.5em;   flex-direction: column; text-align: left; justify-content: flex-end !important;
	h1{font-size: 3rem; font-family: 'black'; width: 80%;}
	h3{font-size: 1.4rem; font-family: 'medium'; }
	// .scroll-container{overflow-y: scroll !important;}
	.scroll{height: 100%;   }
	} 
	.modal-container{ position: relative; overflow-y: scroll !important;
	.close-button{background: none; position: absolute; right: 1em; width: 8rem; font-family: 'medium';  border:2px solid red; height: 3.5em; background: black; padding: 0 2.4em; color: white; border-radius: 4px; }	
		width: 80%;  height: 65%; background: black; padding: 1em;
	.img-container{width: 26rem; height:22rem; position: relative;
	img{height: 23rem; width: 18rem; object-fit: cover; }
	h3{position: absolute;  top: 25px; right: 25px; padding: 0.2em; color: black;  background: yellow; }
	}
	}
}





/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
