

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$backgroundmovie : rgba(3, 12, 31, 0.82);
$background : rgba(3,12 , 31);
$blue : rgba(6,23 , 72);
body{
  $background : rgba(3,12 , 31);
}

@mixin center{
   display: flex; justify-content: center; align-items: center !important; 
}
.home{overflow-y: hidden !important; overflow-x: scroll; 
// .sides-container{min-width: 820px;}
}
button{cursor: pointer ;}
button:hover{transform: scale(1.05);}
.search-input:hover{transform: scale(1.025);}
.movie-container {width: 18rem;  height: 22rem;  position: relative; 
.poster{height: 90%; width: 100%;  position: relative; 
img{height: 100%; width: 100%; position: relative; object-fit: cover; }

.rating{position: absolute; @include center;  top: 1rem; height: 5%;  width: 10%; background: yellow;}
.overlay{position: absolute; text-align: center; top: 0; width: 100%; height: 0; @include center; background: whitesmoke; transition: all 0.4s ease-in-out;}
}
.card-body{ height: 10%; width: 100%; position: absolute; bottom: 0; left: 0; background: red;
  .title{ @include center; height: 100%; width: 100%;  background: rgba(0, 0, 0, 0.844);  bottom: 0; left: 0; color: white;}}
}
.movie-container:hover{.overlay{height: 100%; z-index: 100;}}
.home{background: black; min-height: 100vh; min-width: 100vw;
  .sides-container{display: flex;}
  .side{margin: 1em;}
.left-side{background: rgba(18, 18, 18, ); display: none; border-radius: 7px; width: 30%;
  .search-container{@include center; height: 14%; width: 100%;
  input{   display: flex; align-items: center; justify-content: center; color: white;  width: 70%;  height: 3rem; border-radius: 200px; background: rgba(18, 18, 18, ); border: 2px solid white; outline: none; }
   .search-input::placeholder {
  text-align: center; color: white; font-size: 1rem;
}

  .search{color: white;   position: relative;
  top: 0;
  left: -3rem;
  padding: 0 10px;}
  }
height: 85vh;
}
.position-fixed{z-index: 7000;}
footer{height: 12vh; width: 100%; background: rgba(18, 18, 18, ); }
.right-side{ position: relative !important; background: rgba(18, 18, 18, ); border-radius: 7px;  width: 100%; height: 85vh; }
}
.movie-containers{display: flex; justify-content: center;}
.movie-container{ background: rgba(36, 35, 35, 0.143);   position: absolute; left: 0;
   width: 100%; bottom: 0rem; overflow-y: scroll; height: 85.3%; 
}

.results-container{ overflow-y: scroll; display: flex;  flex-wrap: wrap; justify-content: center; 
 align-items: normal;
  width: 100%;
  height: 86%;

 background: rgba(36, 35, 35, 0.143)
}
 .result{ margin: unset; width: 90%; height: 5rem; @include center;   border-radius: 5px; background: black;
h2{  font-family: 'light'; font-size: 1rem; text-align: left;}
.img-container{height: 4.3rem; width: 4.3rem; 
img{height: 100%; width: 100%; object-fit: cover; }
}

.body{color: white; width: 70%; height: 100%; display: flex; align-items: center; padding: 0.2em; }
}

.random-movie{ position: relative; min-width: 7em; max-width: 10em; margin: 0.1em; height: 250px;  background: green;
  img{position: relative; object-fit: cover;}
  h1{font-family: 'black'; margin-top: 1.5em;}
  p{font-family: 'light';}
  h3{position: absolute; font-size: 1.1rem; top: 25px; right: 25px; padding: 0.2em; color: black;  background: yellow; }
  .overlay{  @include center ; justify-content: center !important; align-items: center !important; background: $backgroundmovie; overflow-y: scroll; color: white; flex-direction: column;  border: 1px solid red; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; display: none; 
  h1{font-size: 1.5rem;}
  }
  
}
.random-movie:hover {.active-overlay{ display: block;}}

  
  .loader{width: 100%; background: rgba(18, 18, 18, );  height: 86%; border-radius: 7px; display: flex; align-items: center; flex-direction: column; gap: 2em; justify-content: center; 
  h2{color: white; font-size: 1.3rem; font-family: 'medium'; }
    .loading{
      content: '';
      height:5rem;
      background: transparent;
      width:5rem;
     animation: loading 1.2s ease infinite;
      border: 10px dotted rgba(128, 128, 128, 0.8);
      outline: none;
      border-top-color: grey;
      border-radius: 50%;
    }
  }  
  footer{ .footer{color: white; display: flex; height: 100%; width: 100%; align-items: center; justify-content: center; justify-content: space-between; }
.foot{padding: 1em;}
p{font-family: 'medium'; 
span{
  a{color: purple;}
}
}
.looking-button{outline: none; background: transparent; color: white;  padding: 1em 2em;  border-radius: 200px; border: 3px solid red; }
}


@keyframes loading {
  from{ transform: rotate(0turn);}
  to{ transform: rotate(1turn);}
  
}

// //// from here are the styles for the fetching error feComponentTransfer
.no-internet{ @include center; flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 6000;
  // position: ;
  font-family: 'medium';
}
.no-movie{@include center; flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'medium';
}
// 
.offcanvas-header{background: rgba(18, 18, 18, );}
.offcanvas-body{ display: flex ;  overflow-y: scroll; background: rgba(18, 18, 18, );

  .search-canvas{display: block; min-height: 45rem; 
    //  margin-top: 25em;
  width: 120%;
  .search-container{@include center; height: 14%; width: 100%;
  input{   display: flex; align-items: center; justify-content: center; color: white;  width: 70%;  height: 3rem; border-radius: 200px; background: rgba(18, 18, 18, ); border: 2px solid white; outline: none; }
   .search-input::placeholder {
  text-align: center; color: white; font-size: 1rem;
}


  .search{color: white;   position: relative;
  top: 0;
  left: -3rem;
  padding: 0 10px;}
  }

  }
}

.reload-button{@include center; padding: 0.7em 1.5em; background-color: black; color: white; }
.search-btn{ display: block; position: absolute; z-index: 400; left: 0; top: 10rem; height: 4rem; width: 4rem;  display: flex; justify-content: center; align-items: center; background-color: whitesmoke; border-top-right-radius: 12px; border-bottom-right-radius: 12px; }
.search-btn:hover{ .search-button{transform: scale(1.2);}}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .search-btn{display: nonecc;}
  .sides-container{

  .left-side{display: block;}
  .right-side{width: 70%;}
  }
  .random-movie{ position: relative; width: 200px; height: 300px; margin: 10px; background: green;
  img{position: relative; object-fit: cover;}
  h1{font-family: 'black'; margin-top: 1.5em;}
  p{font-family: 'light';}
  h3{position: absolute; font-size: 1.1rem; top: 25px; right: 25px; padding: 0.2em; color: black;  background: yellow; }
  .overlay{  @include center ; justify-content: center !important; align-items: center !important; background: $backgroundmovie; overflow-y: scroll; color: white; flex-direction: column;  border: 1px solid red; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; display: none; 
  h1{font-size: 1.5rem;}
  }
  
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
